@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Khula:wght@700&family=Heebo:wght@900&display=swap');

/* General properties */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

::selection {
    color: var(--clr-750);
    background: transparent;
}

/* Custom Properties */

:root {
    /* font weight */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-bold: 700;

    /* font sizes */
    --fs-p: 1rem;
    --fs-h1: 3rem;
    --fs-descripive: 0.75rem;
    --fs-submenu: 1.125rem;
    --fs-cta: 1.75rem;

    /* colors */
    --clr-250: #1a0100;
    --clr-500: #6E0400;
    --clr-750: hsl(2, 100%, 46%);
    --clr-900: #fffefe;

    /* card width */
    --card-width: 25em;
    --card-gap: 1.75em;

    /* box shadow */
    --box-shadow-card: 0 0 5px rgba(0 0 0 / .4);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.25em;
    scroll-behavior: smooth;
    position: relative;
    height: 100vh;
    z-index: -1;
}

/* Background style */

.background-image {
    position: fixed;
    z-index: -10;
    width: 100%;
    filter: saturate(1.2);
    height: auto;
    opacity: .1;
    animation: blurred 10s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes blurred {
    0% {
        filter: blur(20px);
    }

    50% {
        filter: blur(80px) saturate(10) hue-rotate(180deg);
    }

    100% {
        filter: blur(20px);
    }
}

/* Header */

nav {
    position: fixed;
    width: 100%;
    height: 5em;
    top: 0;
    left: 0;
    backdrop-filter: blur(50px);
    border-radius: 0 0 10px 10px;
    background-color: rgba(0 0 0 / .3);
    background-clip: padding-box;
    box-shadow: 0 0 20px rgba(0 0 0 / .4);
}

#title {
    font-size: calc(var(--fs-h1) * 1.25);
    font-family: 'Great Vibes', cursive;
    color: var(--clr-900);
    opacity: .75;
    text-shadow: 0 0 5px rgba(0 0 0 / .1);
    width: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    left: calc(1em + 1vw);
    transition: opacity 200ms ease, color 250ms ease 25ms;
}

#title:hover,
#title:focus {
    opacity: 100%;
    color: var(--clr-900);
}

.location-title {
    font-size: 1rem;
    color: var(--clr-900);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1vw;


    opacity: .3;
    max-width: max-content;
}

.fa-shopping-cart {
    position: absolute;
    list-style: none;
    /* color: var(--clr-750); */
    color: hsla(215, 100%, 40%, 0.9);
    top: 50%;
    transform: translateY(-50%);
    right: clamp(3.75em, 11vw, 6em);
    font-size: calc(var(--fs-submenu) * 1.25);
    transition: color 150ms ease;
}

.fa-shopping-cart:hover,
.fa-shopping-cart:focus {
    color: var(--clr-900);
}

/* Hero container */

.hero-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.hero-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    filter: brightness(.8);
}

.sv {
    font-family: 'Heebo';
    position: absolute;
    top: 30%;
    font-size: clamp(6em, 10vw, 20em);
    color: var(--clr-900);
    opacity: .2;
    transform: rotate(-18deg);
    line-height: .8;
    mix-blend-mode: soft-light;
}

.cta__wrapper {
    position: absolute;
    top: 15em;
    left: 10em;
    bottom: 10em;
    right: 10em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: clamp(17em, 50vw, 45em);
    margin-left: auto;
    gap: 2em;
}


.tagline {
    color: var(--clr-900);
    font-size: var(--fs-h1);
    line-height: 1;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .1);
    margin: auto;
}

.cta {
    cursor: pointer;
    font-family: 'Source Sans Pro', Arial;
    font-size: var(--fs-cta);
    font-weight: var(--fw-bold);
    text-transform: uppercase;

    color: var(--clr-900);
    background-color: hsla(215, 100%, 40%, 0.9);
    border-radius: 40px;
    box-shadow:
        0 5px rgba(88, 112, 147, 0.5),
        0 10px rgba(47, 108, 188, 0.3),
        0 15px rgba(65, 170, 170, 0.1);
    display: inline-block;
    padding: .5em 1.25em;
    margin: auto;

    transition: background-color 150ms ease, color 300ms ease;
}

.cta:hover {
    background-color: hsla(200, 100%, 15%, 0.3);
    outline: 5px solid hsla(200, 100%, 45%, 0.9);
    color: hsla(200, 100%, 75%, 0.9);
    backdrop-filter: blur(10px)
}

.cta:focus {
    background-color: hsla(200 88% 53% / 1);
    box-shadow: none;
}

/* Menu Section */

.menu {
    z-index: -1;
    position: relative;
    top: 7em;
    padding-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
    justify-content: center;
}

.menu-item-card {
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr 1fr .7fr 1.3fr;
    background-color: rgba(245 245 245 / .3);
    grid-auto-rows: max-content;
    width: var(--card-width);
    height: auto;
    padding: var(--card-gap);

    border-radius: 7px;
    box-shadow: var(--box-shadow-card);
}

.menu-item-name,
.menu-item-price {
    font-size: 1.125rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.menu-item-header {
    background-color: var(--clr-750);
    box-shadow: 0 0 2.5px rgba(0 0 0 / .5);
    color: var(--clr-900);
    border-radius: 5px;
    padding: .5em .5em;
    margin-bottom: .5em;
    grid-column: span 6;
    height: max-content;
}

.menu-item-name {
    cursor: pointer;
    overflow: hidden;
    grid-column: span 5;

    padding: .5em 0 .5em .5em;
    border: none;
    text-align: left;
    margin-block: .5em;
    transition: background-color 150ms ease;
}

.menu-item-name:hover {
    background-color: var(--clr-750);
    opacity: .9;
    color: var(--clr-900);
}

.menu-item-price {
    text-align: right;
    padding: .5em;
    margin-block: .5em;
    font-size: calc(var(--fs-p) * 1.125);
    position: relative;
    font-weight: var(--fw-bold);
    height: max-content;
}

.form-fam-meal {
    font-size: var(--fs-submenu);
}

.form-fam-meal-item {
    margin-block: .5em;
}

.form-fam-meal select,
.form-fam-meal p,
.form-fam-meal button {
    position: relative;
    inset: 0 .5em;
}

select {
    font-size: var(--fs-submenu);
    padding: .125em;
}

.submit-family-meal {
    display: block;
    padding: .25em 1em;
    font-size: var(--fs-submenu);
}

/* Cart styles */

.cart-container {
    position: relative;
    top: 6em;
    margin: 1em auto 0 auto;
    padding: clamp(.25em, 5vw, 10vw) 2em;
    min-height: 370px;
    width: clamp(320px, 90vw, 80%);
    background: rgba(0 0 0 / .025);
    border-radius: 8px;
    background-color: rgba(240, 90, 31, .1);
    box-shadow: 0 0 5px rgba(0 0 0 / .4);
    font-size: var(--fs-submenu);
}

.cart-title {
    color: var(--clr-250);
    font-size: calc(var(--fs-h1) * .5);
    line-height: .8;
    width: max-content;
    display: inline-block;
}

.cart-list {
    position: relative;
    inset: 0;
    list-style: none;
    margin-block: 1em;
}

.cart-row,
.cart-subtotal,
.vat,
.cart-total {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-block: .25em;
}


.item-name,
.subtotal,
.vat-desc,
.total {
    margin-right: auto;
    width: max-content;
}

.quantity-value {
    width: 3.5em;
    height: 2em;
    margin-inline: .5em;
    border: none;
    background-color: rgba(255 255 255 / .7);
    border-radius: .5em;
    box-shadow: inset 0 0 5px rgba(0 0 0 / .2);
}

.right-align {
    text-align: right;
}

.price-value,
.subtotal-value,
.vat-price,
.total-value {
    margin: .25em 1.5em;
}

.clear-btn {
    background: rgba(0, 0, 0, .05);
    padding: .25rem 1rem;
    border-radius: 10px;
    font-size: var(--fs-submenu);
    color: var(--clr-750);
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0 0 0 / .05);
    margin-inline: .5em;
}

.clear-btn:hover {
    background: rgba(0, 0, 0, .4);
    color: var(--clr-900);
}


.price-value::before,
.subtotal-value::before,
.vat-price::before,
.total-value::before {
    content: '€';
    position: relative;
    right: .25em;
}

.pay {
    border: none;
    padding: 1em 3em;
    margin-block: 1em;
    /* background: var(--clr-750); */
    background: hsla(215, 100%, 40%, 0.9);
    color: var(--clr-900);
    border-radius: 50px;
    font-size: var(--fs-p);
    transition: outline 150ms ease, color 500ms ease;
}

.pay:hover {
    background: transparent;
    outline-style: solid;
    outline-width: 5px;
    outline-offset: -5px;
    outline-color: hsla(215, 100%, 19%, 0.9);
    color: hsla(215, 100%, 19%, 0.9);
}

/* List in home page will be hidden */

#list-in-index {
    visibility: hidden;
}

/* Toggles */

.hide {
    display: none;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    height: max-content;
    margin-top: 4em;
    padding-block: 1em;
    color: var(--clr-900);
    font-size: var(--fs-descripive);
    background-color: var(--clr-250);
    opacity: .8;
}

footer a {
    color: var(--clr-900);
}

/* Media queries */

@media screen and (max-width: 640px) {
    .hero-image {
        position: absolute;
        inset: 0;
        height: 100vh;
    }
    
    .cta__wrapper {
        top: 35%;
        left: 15%;
        bottom: auto;
        right: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
    }
}

@media screen and (max-width: 425px) {

    .menu-item-card {
        --card-width: 100vw;
        --card-gap: 0;
    }

    #title {
        left: 5px;
        font-size: var(--fs-h1);
    }

    .hero-image {
        position: absolute;
        inset: 0;
        height: 100vh;
    }

    .cta__wrapper {
        left: 2em;
    }

    .sv {
        line-height: .8;
    }

    .cta {
        font-size: calc(var(--fs-cta) * .8);
    }

    .menu-item-card {
        width: calc(var(--card-width) * .925);
    }

    .menu-item-name,
    .menu-item-price,
    .form-fam-meal-item {
        font-size: 1rem;
    }

    footer {
        padding-inline: .5em;
    }
}