:root {
    --clr-main-bg: #E7DFCF;
    --clr-cart-bg: #ECF2F3;
    --clr-panel-bg: #F2F2F2;
    --clr-primary: #FF3C0B;
    --clr-accent: #5B0185;
    --clr-neutral: #636363;
    --clr-placeholder: #A9A9A9;
    --clr-gradient: linear-gradient(150deg, var(--clr-accent) 75%, var(--clr-primary));

    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    --box-shadow: 7px 7px 10px 0 rgba(0 0 0 / .2);

    --timing-function-bounce: cubic-bezier(.15, .87, .69, 1.3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: rgba(0 0 0 / .4);
    color: white;
    backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 90% auto;
    padding: 0 1rem;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.logo {
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    max-width: max-content;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.nav li a {
    color: white;
    padding: .5rem 1rem;
    position: relative;
}

.nav li a::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--clr-panel-bg);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms var(--timing-function-bounce);
}

.nav li a:hover::after {
    transform: scaleX(.7) translateX(20px);
}

.hamburger-menu {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: var(--fw-semibold);
    max-width: max-content;
}

.logo:hover,
.logo:focus,
.hamburger-menu:hover,
.hamburger-menu:focus,
.nav li a:hover,
.nav li a:focus {
    color: var(--clr-panel-bg);
}

.hero {
    margin: 0;
    position: relative;
    height: 100vh;
}

.hero img {
    height: 100vh;
    z-index: -10;
    object-fit: stretch;
    position: absolute;
    inset: 0;
}

.tagline {
    font-size: 2.5rem;
    text-align: center;
    font-weight: var(--fw-black);
    letter-spacing: -0.1rem;
    line-height: 1em;
    min-width: 70%;
    margin: 10vh auto 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tagline-bg {
    position: absolute;
    content: '';
    min-width: 100vw;
    height: 35%;
    background-color: var(--clr-primary);
    opacity: .9;
    z-index: -5;
    top: 0;
    left: 0;
    padding: 1em;
}

.clr-accent {
    color: var(--clr-accent);
}

.cta {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    margin: auto auto;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: var(--clr-primary);
    padding: .75rem 2rem;
    font-weight: var(--fw-bold);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.cta:hover {
    background-color: #e23a10;
}

.watermark {
    font-size: 7rem;
    font-weight: var(--fw-black);
    opacity: .1;
    transform: rotate(-10deg) translateX(-100px);
    position: absolute;
    top: 50vh;
}

footer {
    color: black;
    padding: 0 1rem;
    display: flex
}